*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: #1A2343;
    overflow: hidden;
    
}

#mainlocalizar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-top: 100px;
    align-items: center;
    gap: 80px;
   
}
#mainlocalizar > h1{
    color: rgb(252, 252, 252);
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.897);
    font-family: 'TEKO', sans-serif;
    font-size: 50px;
    
}

nav{
   
    
    background-color: rgba(0, 132, 255, 0.144);
}


 ul{
    display: flex;
    list-style: none;
    text-shadow: 3px 3px 3px rgba(17, 0, 0, 0.897);
    font-size: 25px;
    
}

ul > li > a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: 'Teko', sans-serif;


  
}
#mainlocalizar > ul{
    font-size: 20px;
    margin-top: 10px;
    
    
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    
}
.guia{
    padding: 20px;
}



input::placeholder{
    color: #797979;
    padding: 5px;

}
#mainduvida{
    padding: 15px;
    margin-top: 10px;
}
#mainduvida > h1{
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.897);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0px 0px 10px 0px;
    
}

#sec1{
    
    padding: 5px;
}
#sec1 > p{
    color: rgba(170, 170, 170, 0.993);
    text-shadow: 2px 2px 2px black;
   
}
#sec2{
    padding: 5px;
}
#sec2 > h1{
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.897);
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    margin: 0px 0px 10px 0px;;
}
#sec2 > p{
    color: rgba(170, 170, 170, 0.993);
    text-shadow: 2px 2px 2px black;
}
#img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    color: azure;
    gap: 10px;
}
#resultList {
    width: 90%;
    max-width: 400px;
    border-radius: 0 0 10px 10px;
    list-style: none;
    padding: 20px;
    max-height: 220px; 
    overflow-y: auto; 
    overflow-x: hidden; 
    position: absolute;
    top: 49%;
    left: 49.9%;
    transform: translateX(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column; 
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    
    display: none;
    gap: 10px;
    

    
}
#resultList::-webkit-scrollbar {
    
    width: 3px; /* ou altura se for horizontal */
    background: transparent; /* deixa o fundo da barra invisível */
}

#resultList::-webkit-scrollbar-thumb {
    background-color: rgba(240, 240, 240, 0.87); /* cor da “alça” da barra com transparência */
    border-radius: 10px;
}

#resultList::-webkit-scrollbar-track {
    background: transparent; /* deixa o trilho invisível */
}
#resultList li {
    padding: 15px;
    font-family: 'Teko', sans-serif;
    font-size: 1.2em;
    text-align: center;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3); 
    transition: background-color 0.5s ease;
    
}

#resultList li:hover {
    background-color: #252b41fa;
    
}
#resultList.show {
    display: block;
}
.search-container{
    width: 100%;
    position: relative;
    display: inline-block;
   
}
#searchBar {
    width: 100%;
    max-width: 400px;
    padding: 22px;
    font-size: 1.2em;
    margin: 0 auto;
    display: block;
    position: relative;
    z-index: 2;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background-color: rgb(175, 175, 175);
    width: 80%;
    outline: none;
    border: 1px solid #1c2641; 
    
    
}


main {
    position: relative;
    padding-top: 60px;
}
.localizacao{
   
    border-radius: 10px;
    
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
   
}
.localizacao > h2{
    margin: 10px 0px 20px 0px;
    color: #ffffff;
    font-size: 20px;
}
.localizacao > p{
    color: #bebebe;
}
.localizacao {
    animation: aparecer 1s ease-in-out;
  }
  
  @keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
#mainrequisitar{
    font-family: 'Teko', sans-serif;
}
#requisicaoForm{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center
}
.divinfo{
    display: flex;
    margin-top: 20px;
  
    flex-direction: column;
    width: 70%;
}
.divkits{
    display: flex;
    flex-direction: row;
    width: 70%;
   
}
.divinfo > label{
    color: #ffffff;
    font-size: 25px;
    
  
}
.divinfo > input{
    color: #000000;
  height: 40px;
  border-radius: 12px;
  border: none;
padding: 5px;
  border: none;
  background-color: rgb(175, 175, 175);
  outline: none;
  border: 1px solid #1c2641; 
  font-size: 17px;
  
  
}
input::placeholder{
    font-size: 13px;
}
#idadd{
    display: flex;
    flex-direction: column;
  
    gap: 2px;
    text-align: left;
    width: 70%;
}
#idadd > textarea{
    padding: 5px;
    border-radius: 10px 10px 10px 10px;
    border: none;
    background-color: rgb(175, 175, 175);
}
.dropdown {
    position: relative;
    display:flex;
    flex-direction: column;
    width: 70%;
    
    
  }

  .dropdown-btn {
    width: 60%;
    padding: 2px;
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    border-radius: 8px;
    
  }
  .dropdown-btn:hover{
    background-color: #acacacfa;
    transition: 0.5s;
  }
 

  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    border-radius: 10px;
  }

  .dropdown-content label {
    display: block;
    padding: 8px;
    cursor: pointer;
   
  }

  .dropdown-content label:hover {
    background-color: #f0f0f0;
    
  }
  #buttonenviar{
    height: 35px;
    border-radius: 10px;
    font-size: 17px;
    border: none;
    border-bottom: #1A2343;
    font-family: 'Teko', sans-serif;
  }
  #buttonenviar:hover{
    background-color: #acacacfa;
    cursor: pointer;
    transition: 0.5s;
  }

  .selected-values {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
  }